
{{ $.Scratch.Set "description" "Learn about the latest news and events about KiCad and its development" }}
{{ partial "header.html" . }}


<div class="container">
	<div class="row">
		<div class="col-md-9 post-full">
			{{ partial "breadcrumb.html" . }}

			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ template "_internal/pagination.html" . }}
		</div>
		<div class="col-md-3">
			{{ partial "blog_categories.html" . }}
		</div>
	</div>

	{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
